/* universal style */

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  }

nav {
  display: inline-block;
  background-color: blue;
  font-weight: 700;
  width: 100%;
  padding: 15px;
}

.button {
  background-color: aqua;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.button:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

.button:hover {
  background-color: blueviolet;
}

.button:active {
  background-color: blueviolet;
  color: white;
}

#current-page .button {
  background-color: red;
}

header {
  background-color: gray;
  font-weight: 500;
  width: 100%;
  padding: 10px;
}

body {
  background-color: rgb(190, 182, 182);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding: 25px 0px;
  background-color: blue;
}

h1 {
  color: black;
  font-size: 28px;
  text-align: center;
}

h2 {
  padding: 0px;
  font-size: 24px;
  text-align: center;
}

p {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

a {
  padding: 20px;
  color: blue;
  text-decoration: underline;
}